:root {
  --main-pink: #ea157d;
  --main-green: #15ea82;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23ea157d' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.max-height {
  height: 100vh;
}

.img-container {
  min-height: 60vh;
  background: url(/images/cars1.jpg) center/cover fixed no-repeat;
  border: 0.5rem var(--main-pink) solid;
  border-radius: 0.5rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .img-container {
    min-height: 80vh;
  }
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--main-pink) !important;
  color: var(--main-green) !important;
  transform: translate(-50%, -50%);
  border: 0.2rem solid var(--main-pink) !important;
  font-size: 1.2rem;
}

.btn-left:hover {
  background-color: var(--main-green) !important;
  color: var(--main-pink) !important;
  border: 0.2rem solid var(--main-pink) !important;
}

.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: var(--main-pink) !important;
  color: var(--main-green) !important;
  transform: translate(50%, -50%);
  border: 0.2rem solid var(--main-pink) !important;
  font-size: 1.2rem;
}

.btn-right:hover {
  background-color: var(--main-green) !important;
  color: var(--main-pink) !important;
  border: 0.2rem solid var(--main-pink) !important;
}
